<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date{"yyyy-MM-dd HH:mm:ss XXX"} [%-5level] - %logger:%-3line - %msg%n</pattern>
    </encoder>
  </appender>
 
  <logger name="org.apache.http" level="INFO" />
  <logger name="software.amazon" level="INFO" />
  
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
